.modal{
    opacity: 1;
    visibility: visible;
    /* position: relative; */
    width: 311px;
    height: 471px;
    background: #FAFAFA;
    border-radius: 15px;
}

.btn-close-leave-review{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 273px;
    top: 14px;
}

.leave-review-close-icon{

}

.leave-review-title{
    position: absolute;
    width: 255px;
    height: 48px;
    left: 24px;
    top: 32px;

    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111111;
}
.leave-review-title-our {
    color: #FD9222;
}
.leave-review-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;
    position: absolute;
    width: 263px;
    height: 327px;
    left: 24px;
    top: 112px;
}
.leave-review-wrap{
   margin-bottom: 8px;
   position: relative;
   width: 100%;
}
.leave-review-input{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 14px 18px;
        gap: 40px;
    
        width: 263px;
        height: 45px;
    
        border: 1.5px solid rgba(17, 17, 17, 0.05);
        filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
        border-radius: 8px;
    
        /* Inside auto layout */    
        flex: none;
        order: 1;
        flex-grow: 0;    
}
.leave-review-flag{

}
.leave-review-comment{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 14px 18px 60px;
    gap: 40px;

    width: 263px;
    height: 91px;

    border: 1.5px solid rgba(17, 17, 17, 0.05);
    filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.leave-review-submit-btn{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 28px;
    gap: 14px;    
    width: 93px;
    height: 41px;    
    background: #FD9222;
    border-radius: 100px;    
    /* Inside auto layout */    
    flex: none;
    order: 1;
    flex-grow: 0;
}