<div class="modal-wrapper modal" data-modal="5">
  <div class="subscribe-modal">
    <picture>
      <source
        srcset="
          ../img/desktop+tablet/modal-new-chocolate/newChoco-desk+tab-1x.jpg 1x,
          ../img/desktop+tablet/modal-new-chocolate/newChoco-desk+tab-2x.jpg 2x
        "
        media="(min-width:768px)"
      />

        <source srcset="../img/mobile/modal-new-chocolate/newChoco-mobile-1x.jpg 1x, 
                    ../img/mobile/modal-new-chocolate/newChoco-mobile-2x.jpg 2x" media="(max-width:767px)">

      <img
        class="subscribe-pic"
        src="../img/desktop+tablet/modal-new-chocolate/newChoco-desk+tab-1x.jpg"
        alt="Chocolate"
        height="196"
      />
    </picture>

    <button class="sub-close-btn js-modal-close" type="button">
      <svg class="sub-close-icon" width="28" height="28">
        <use href="../img/SVG/symbol-defs.svg#icon-x-close"></use>
      </svg>
    </button>
    <div class="explore-form">
      <h1 class="sub-title">
        EXPLORE OUR<br />
        <span class="sub-title-part">NEW CHOCOLATE</span> FIRST!
      </h1>
      <form action="#" class="contact-form">
        <div class="modal-form-field">
          <label class="input-title" for="email"></label>
          <span class="modal-input-wrapper">
            <input
              type="email"
              class="modal-input"
              id="email"
              name="Email"
              required
              placeholder="Enter your email"
            />
          </span>

          <button type="submit" class="modal-btn">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
