<div class="modal" data-modal="3">
  <button type="button" class="btn-close-leave-review js-modal-close">
    <svg class="leave-review-close-icon" width="24" height="24">
      <use href="/src/img/SVG/symbol-defs.svg#icon-x-close"></use>
    </svg>
  </button>
  <p class="leave-review-title">
    leave a review about
    <span class="leave-review-title-our"> our chocolate</span>
  </p>
  <form class="leave-review-form">
    <div class="leave-review-wrap">
      <input
        class="leave-review-input"
        type="text"
        name="name"
        id="name"
        placeholder="Name"
      />
    </div>
    <div class="leave-review-wrap">
      <input
        class="leave-review-input"
        type="email"
        name="email"
        id="email"
        placeholder="Enter your email"
      />
    </div>
    <div class="leave-review-wrap">
      <input
        class="leave-review-input"
        type="tel"
        name="phone"
        id="phone"
        placeholder="Phone number"
      />
      <svg class="leave-review-flag" width="24" height="18">
        <use href="/src/img/SVG/symbol-defs.svg#icon-flag"></use>
      </svg>
    </div>
    <div class="leave-review-wrap comment">
      <textarea
        class="leave-review-comment"
        name="comment"
        id="comment"
        placeholder="Enter text"
      ></textarea>
    </div>
    <button type="submit" class="leave-review-submit-btn">Send</button>
  </form>
</div>
