<!-- Serhiy Panchyshyn -->
<footer class="footer-section" id="footer">
  <div class="footer-container footer-content">
    <div class="footer-logo-box">
      <a href="/" class="footer-logo"
        ><span>Chocolate</span> a delicious cure for a bad day
      </a>
    </div>

    <div class="footer-contacts">
      <div class="contact-container">
        <p class="contact-text">Contact-us</p>
        <ul class="contacts-list">
          <li class="contacts-list-item">
            <a class="contacts-link" href="tel:+380684439426"
              >+380 (68) 443-94-26
            </a>
          </li>
          <li class="contacts-list-item">
            <a class="contacts-link" href="mailto:simplychoc@gmail.com"
              >simplychoc@gmail.com
            </a>
          </li>
        </ul>
      </div>

      <div class="networks-container">
        <ul class="social-list">
          <li class="social-list-item">
            <a href="https://www.instagram.com" class="social-link" target="_blank">
              <svg class="social-icon" width="32" height="32">
                <use href="../img/SVG/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item">
            <a href="https://twitter.com/?lang=ru" class="social-link" target="_blank">
              <svg class="social-icon" width="32" height="32">
                <use href="../img/SVG/symbol-defs.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-menu-container">
      <ul class="footer-menu">
        <li class="f-menu-item">
          <a href="#header" class="f-menu-anchor">Home</a>
        </li>
        <li class="f-menu-item">
          <a href="#how_made" class="f-menu-anchor">How it's made? </a>
        </li>
        <li class="f-menu-item">
          <a href="#our_products" class="f-menu-anchor">Our products </a>
        </li>
        <li class="f-menu-item">
          <a href="#top_sellers" class="f-menu-anchor">Top sellers </a>
        </li>
        <li class="f-menu-item">
          <a href="#choco_love" class="f-menu-anchor">Chocolate is loved </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
