<header class="header">
  <div class="header-container">
    <a class="header-logo logo link" href="../index.html">
      SIMPLY CHOCOLATE
      <svg class="header-icon" width="21" height="21">
        <use href="../img/SVG/symbol-defs.svg#header-chocolate"></use>
      </svg>
    </a>
    <nav class="header-navigation">
      <ul class="header-list list">
        <li class="header-item">
          <a class="header-link link" href="#header">Home</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="#howmade">How it's made?</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="#our_products">Our products</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="#top_sellers">Top sellers</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="#choco_love">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
      <ul class="header-soc-list list">
        <li class="header-soc-item list">
          <a class="header-soc-link link" href="https://www.instagram.com/" target="_blank"
            title="Соціальна мережа instagram">
            <svg class="header-soc-icon" width="24" height="24">
              <use href="../img/SVG/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-soc-item list">
          <a class="header-soc-link link" href="https://twitter.com/" target="_blank" title="Соціальна мережа twitter">
            <svg class="header-soc-icon" width="24" height="24">
              <use href="../img/SVG/symbol-defs.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>

    <button type="button" class="menu-open js-open-menu" aria-expanded="false">
      <svg class="menu-open-icon" width="21" height="14">
        <use href="../img/SVG/symbol-defs.svg#icon-menu-ham"></use>
      </svg>
    </button>

    <div class="mobile-menu js-menu-container">
      <div class="container mobile-menu-container">
        <button class="mobile-menu-close-btn js-close-menu">
          <svg class="mobile-menu-close-icon" width="32" height="32">
            <use href="../img/SVG/symbol-defs.svg#icon-menu-close"></use>
          </svg>
        </button>
        <ul class="mob-menu-list list">
          <li class="mob-menu-item">
            <a class="mob-menu-link link" href="#header">Home</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link link" href="#howmade">How it's made?</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link link" href="#our_products">Our products</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link link" href="#top_sellers">Top sellers</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link link" href="#choco_love">Chocolate is loved</a>
          </li>
        </ul>

        <ul class="mob-menu-soc-list list">
          <li class="mob-soc-item list">
            <a class="mob-menu-soc-link link" href="https://www.instagram.com/" target="_blank"
              title="Соціальна мережа instagram">
              <svg class="mob-menu-soc-icon" width="22" height="22">
                <use href="../img/SVG/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="mob-menu-soc-item list">
            <a class="mob-menu-soc-link link" href="https://twitter.com/" target="_blank"
              title="Соціальна мережа twitter">
              <svg class="mob-menu-soc-icon" width="22" height="22">
                <use href="../img/SVG/symbol-defs.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>