<section class="hero-section">
    <div class="hero-container">
        <h1 class="visually-hidden">Simply Chocolate</h1>
        <h2 class="hero-title">
            Treat yourself or a loved one to <br />
            our finest ingredients for a moment of pure delight!
        </h2>
        <div class="hero-wrap">
            <button type="button" class="hero-btn btn-open-buy-now js-open-modal" data-modal="1">
                Buy now
            </button>

            <a href="#howmade" class="how-btn hero-btn">How it’s made</a>
            <a href="#footer" class="scroll-btn">
                <span>scroll down</span>
                <svg class="scroll-down-icon" width="28" height="28">
                    <use href="../img/SVG/symbol-defs.svg#icon-scroll"></use>
                </svg>
            </a>
        </div>
    </div>
    </div>
</section>