<section class="hero-section">
  <div class="hero-container">
    <h1 class="visually-hidden">Simply Chocolate</h1>
    <h2 class="hero-title">
      Treat yourself or a loved one to <br />
      our finest ingredients for a moment of pure delight!
    </h2>
    <div class="hero-wrap">
      <ul class="hero-list">
        <li><button type="button" class="hero-btn buy-btn">Buy now</button></li>
        <li>
          <button type="button" class="hero-btn how-btn">How it’s made</button>
        </li>
      </ul>
      <button type="button" class="hero-btn scroll-btn">scroll down</button>
    </div>
  </div>
</section>
