<section class="how-made-section" id="howmade">
    <div class="how-made-container">
        <h2 class="how-made-text">HOW IT’S <span class="how-made-text-orange"> MADE? </span></h2>
        <div class="howe-made-flex">
            <div class="howe-made-video-i">
                <video 
                controls
                preload="metadata"
                poster="#"
               >   <source src="#" type="video/mp4">
                   <source src="#" type="video/ogg">
                </video>
            </div>
        <div class="how-made-text-decoration">
        <h3 class="how-made-h-decoration">Try  our chocolates today and discover the perfect balance of flavor</h3>
        <ul class="how-made-ul-decoration">
            <li class="howe-made-mb howe-made-none"><p class="howe-made-text-li">Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.</p></li>
            <li class="howe-made-mb"><p class="howe-made-text-li">At the same time, prepare a water bath. Melt the butter on it.</p></li>
            <li class="howe-made-mb"><p class="howe-made-text-li">"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes uniform and silky.</p></li>
            <li class="howe-made-mb"><p class="howe-made-text-li">Heat the mixture over low heat, letting it barely boil.</p></li>
            <li class="howe-made-mb"><p class="howe-made-text-li">Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and harden.</p></li>
        </ul>
        </div>
    </div>
    </div>
</section>