<section class="our-products" id="our_products">
    <div class="container">
        <h3 class="title">Our <span class="span">products</span></h3>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="content">
                        <div class="foto">
                            <img src="./img/reviews0-1200+/our-products/orange-1x.jpg"
                                srcset="../img/reviews0-1200+/our-products/orange-1x.jpg 1x, ../img/reviews0-1200+/our-products/orange-2x.jpg 2x"
                                width="230" height="203" alt="Dark chocolate with orange">
                        </div>
                        <h3 class="taste">orange</h3>
                        <p class="kind">Dark chocolate</p>
                        <button type="button" class="btn">45 UAH</button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="content">
                        <div class="foto">
                            <img src="./img/reviews0-1200+/our-products/apple&cranberry-1x.jpg"
                                srcset="../img/reviews0-1200+/our-products/apple&cranberry-1x.jpg 1x,../img/reviews0-1200+/our-products/apple&cranberry-2x.jpg 2x"
                                width="230" height="203" alt="Milk chocolate with apple&cranberry">
                        </div>
                        <h3 class="taste">apple&cranberry</h3>
                        <p class="kind">Milk chocolate</p>
                        <button type="button" class="btn">50 UAH</button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="content">
                        <div class="foto">
                            <img src="./img/reviews0-1200+/our-products/lime&seaSalt-1x.jpg"
                                srcset="../img/reviews0-1200+/our-products/lime&seaSalt-1x.jpg 1x, ../img/reviews0-1200+/our-products/lime&seaSalt-2x.jpg 2x"
                                width="230" height="203" alt="Dark chocolate with lime&sea salt">
                        </div>
                        <h3 class="taste">lime&sea salt</h3>
                        <p class="kind">Dark chocolate</p>
                        <button type="button" class="btn">66 UAH</button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="content">
                        <div class="foto">
                            <img src="./img/reviews0-1200+/our-products/pineapple-1x.jpg"
                                srcset="../img/reviews0-1200+/our-products/pineapple-1x.jpg 1x, ../img/reviews0-1200+/our-products/pineapple-2x.jpg 2x"
                                width="230" height="203" alt="Dark chocolate with pineapple">
                        </div>
                        <h3 class="taste">pineapple</h3>
                        <p class="kind">Dark chocolate</p>
                        <button type="button" class="btn">54 UAH</button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="content">
                        <div class="foto">
                            <img src="./img/reviews0-1200+/our-products/classicMilk-1x.jpg"
                                srcset="../img/reviews0-1200+/our-products/classicMilk-1x.jpg 1x,../img/reviews0-1200+/our-products/classicMilk-2x.jpg 2x "
                                width="230" height="203" alt="Milk chocolate">
                        </div>
                        <h3 class="taste">classic</h3>
                        <p class="kind">Milk chocolate</p>
                        <button type="button" class="btn">45 UAH</button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="content">
                        <div class="foto">
                            <img src="./img/reviews0-1200+/our-products/honey-1x.jpg"
                                srcset="../img/reviews0-1200+/our-products/honey-1x.jpg 1x,../img/reviews0-1200+/our-products/honey-2x.jpg 2x"
                                width="230" height="203" alt="Milk chocolate">
                        </div>
                        <h3 class="taste">honey</h3>
                        <p class="kind">Milk chocolate</p>
                        <button type="button" class="btn">50 UAH</button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="content">
                        <div class="foto">
                            <img src="./img/reviews0-1200+/our-products/roastedFruits-1x.jpg"
                                srcset="../img/reviews0-1200+/our-products/roastedFruits-1x.jpg 1x, ../img/reviews0-1200+/our-products/roastedFruits-2x.jpg 2x"
                                width="230" height="203" alt="Milk chocolate">
                        </div>
                        <h3 class="taste">roasted fruits</h3>
                        <p class="kind">Dark chocolate</p>
                        <button type="button" class="btn">66 UAH</button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="content">
                        <div class="foto">
                            <img src="../img/reviews0-1200+/our-products/classicWhite-1x.jpg"
                                srcset="../img/reviews0-1200+/our-products/classicWhite-1x.jpg 1x,../img/reviews0-1200+/our-products/classicWhite-2x.jpg 2x"
                                width="230" height="203" alt="Milk chocolate">
                        </div>
                        <h3 class="taste">classic</h3>
                        <p class="kind">White chocolate</p>
                        <button type="button" class="btn">54 UAH</button>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
    </div>
</section>