<section>
    <div>
        <h3>Our products</h3>
        <div>
            <img src="" alt="Dark chocolate with orange">
            <h5>orange</h5>
            <p>Dark chocolate</p>
            <button type="button">45 UAH</button>
        </div>
        <div>
            <img src="" alt="Milk chocolate with apple&cranberry">
            <h5>apple&cranberry</h5>
            <p>Milk chocolate</p>
            <button type="button">50 UAH</button>
        </div>
        <div>
            <img src="" alt="Dark chocolate with lime&sea salt">
            <h5>lime&sea salt</h5>
            <p>Dark chocolate</p>
            <button type="button">66 UAH</button>
        </div>
        <div>
            <img src="" alt="Dark chocolate with pineapple">
            <h5>pineapple</h5>
            <p>Dark chocolate</p>
            <button type="button">54 UAH</button>
        </div>
        <div>
            <img src="" alt="Milk chocolate">
            <h5>classic</h5>
            <p>Milk chocolate</p>
            <button type="button">45 UAH</button>
        </div>
        <div>
            <img src="" alt="Milk chocolate">
            <h5>honey</h5>
            <p>Milk chocolate</p>
            <button type="button">50 UAH</button>
        </div>
        <div>
            <img src="" alt="Milk chocolate">
            <h5>roasted fruits</h5>
            <p>Dark chocolate</p>
            <button type="button">66 UAH</button>
        </div>
        <div>
            <img src="" alt="Milk chocolate">
            <h5>classic</h5>
            <p>White chocolate</p>
            <button type="button">54 UAH</button>
        </div>
        <button type="button"></button>
        <button type="button"></button>
        <button type="button"></button>
        <button type="button"></button>
        <button type="button"></button>
        <button type="button"></button>
        <button type="button"></button>
        <button type="button"></button>
    </div>
</section>