<section class="reviews" id="choco_love">
    <div class="reviews-conteiner">
        <h1 class="reviews-title">CHOCOLATE <span>IS LOVED</span></h1>
        <div class="swiper-r rev">
            <div class="swiper-wrapper rev">
                <!-- Slides -->
                <div class="swiper-slide rev">
                    <div class="reviews-item">
                        <div class="reviews-cont-text">
                            <img srcset="
                      ./img/reviews0-1200+/chocolate-is-loved/victoriaDobrzhanska-1x.jpg 1x,
                      ./img/reviews0-1200+/chocolate-is-loved/victoriaDobrzhanska-2x.jpg 2x" class="reviews-image"
                                src="./img/reviews0-1200+/chocolate-is-loved/victoriaDobrzhanska-1x.jpg"
                                alt="Victoria Dobrzhanska" />

                            <h3 class="reviews-author">Victoria Dobrzhanska</h3>
                        </div>
                        <p class="reviews-benefits">
                            I love this chocolate bar. Perfect combination of light crispy wafer,
                            covered in a thin layer chocolate.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide rev">
                    <div class="reviews-item ">
                        <div class="reviews-cont-text">
                            <img srcset="
                      ./img/reviews0-1200+/chocolate-is-loved/nazarBabenko-1x.jpg 1x,
                      ./img/reviews0-1200+/chocolate-is-loved/nazarBabenko-2x.jpg 2x
                    " class="reviews-image" src="./img/reviews0-1200+/chocolate-is-loved/nazarBabenko-1x.jpg"
                                alt="Nazar Babenko" />

                            <h3 class="reviews-author">Nazar Babenko</h3>
                        </div>
                        <p class="reviews-benefits">
                            This chocolate confection is a delight! A delight! The wafer is light
                            and crisp, the hazelnut cream is smooth, and the chocolate is good.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide rev">
                    <div class="reviews-item">
                        <div class="reviews-cont-text">
                            <img srcset="
                      ./img/reviews0-1200+/chocolate-is-loved/olenaKampusch-1x.jpg 1x,
                      ./img/reviews0-1200+/chocolate-is-loved/olenaKampusch-2x.jpg 2x" class="reviews-image"
                                src="./img/reviews0-1200+/chocolate-is-loved/olenaKampusch-1x.jpg"
                                alt="Olena Kampusch" />

                            <h3 class="reviews-author">Olena Kampusch</h3>
                        </div>
                        <p class="reviews-benefits">
                            Chocolate is a family favourite treat. Love the delicious smooth
                            chocolate and the creaminess inside. The wafer is soft but crunchy.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide rev">
                    <div class="reviews-item ">
                        <div class="reviews-cont-text">
                            <img srcset="
                        ./img/reviews0-1200+/chocolate-is-loved/nataliaSus-1x.jpg 1x,
                         ./img/reviews0-1200+/chocolate-is-loved/nataliaSus-2x.jpg 2x
                        " class="reviews-image" src="./img/reviews0-1200+/chocolate-is-loved/nataliaSus-1x.jpg"
                                alt="Natalia Sus" />

                            <h3 class="reviews-author">Natalia Sus</h3>
                        </div>
                        <p class="reviews-benefits">
                            The chocolate assortment was delicious. Both dark and milk chocolate pieces were smooth and
                            just right on the
                            sweetness level.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide rev">
                    <div class="reviews-item">
                        <div class="reviews-cont-text">
                            <img srcset="
                 ./img/reviews0-1200+/chocolate-is-loved/daniloNottingham-1x.jpg 1x,
                 ./img/reviews0-1200+/chocolate-is-loved/daniloNottingham-2x.jpg 2x
                     " class="reviews-image" src="./img/reviews0-1200+/chocolate-is-loved/daniloNottingham-1x.jpg"
                                alt="Danilo Nottingham" />

                            <h3 class="reviews-author">Danilo Nottingham</h3>
                        </div>
                        <p class="reviews-benefits">
                            This is delicious. It so rich and flavorful you don’t need to use as many. I love topping an
                            apple with almond
                            butter and these chips for a snack.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide rev">
                    <div class="reviews-item">
                        <div class="reviews-cont-text">
                            <img srcset="
                         ./img/reviews0-1200+/chocolate-is-loved/irinaTydnyuk-1x.jpg 1x,
                         ./img/reviews0-1200+/chocolate-is-loved/irinaTydnyuk-2x.jpg 2x
                           " class="reviews-image" src="./img/reviews0-1200+/chocolate-is-loved/irinaTydnyuk-1x.jpg"
                                alt="Irina Tydnyuk" />

                            <h3 class="reviews-author">Irina Tydnyuk</h3>
                        </div>
                        <p class="reviews-benefits">
                            This is simply the best chocolate around, and I'm just thrilled to support a local company!
                            Best local chocolate
                            - world class :)
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination-r rev"></div>

        </div>
        <button type="button" class="reviews-opn-btn js-open-modal" data-modal="3">
            Leave a review
        </button>
    </div>
</section>