<section class="reviews">
  <div class="reviews-conteiner">
    <h1 class="reviews-title">CHOCOLATE <span>IS LOVED</span></h1>
    <ul class="reviews-list ul">
      <li class="reviews-item">
        <div class="reviews-cont-text">
          <img
            srcset="
              ../img/reviews0-1200+/chocolate-is-loved/victoriaDobrzhanska-1x.jpg,
              ../img/reviews0-1200+/chocolate-is-loved/victoriaDobrzhanska-2x.jpg
            "
            class="reviews-image"
            src="../img/reviews0-1200+/chocolate-is-loved/victoriaDobrzhanska-1x.jpg"
            alt="Victoria Dobrzhanska"
            width="80"
          />

          <h3 class="reviews-author">Victoria Dobrzhanska</h3>
        </div>
        <p class="reviews-benefits">
          I love this chocolate bar. Perfect combination of light crispy wafer,
          covered in a thin layer chocolate.
        </p>
      </li>
      <li class="reviews-item card">
        <div class="reviews-cont-text">
          <img
            srcset="
              ../img/reviews0-1200+/chocolate-is-loved/nazarBabenko-1x.jpg,
              ../img/reviews0-1200+/chocolate-is-loved/nazarBabenko-2x.jpg
            "
            class="reviews-image"
            src="../img/reviews0-1200+/chocolate-is-loved/nazarBabenko-1x.jpg"
            alt="Nazar Babenko"
          />

          <h3 class="reviews-author">Nazar Babenko</h3>
        </div>
        <p class="reviews-benefits">
          This chocolate confection is a delight! A delight! The wafer is light
          and crisp, the hazelnut cream is smooth, and the chocolate is good.
        </p>
      </li>
      <li class="reviews-item card2">
        <div class="reviews-cont-text">
          <img
            srcset="
              ../img/reviews0-1200+/chocolate-is-loved/olenaKampusch-1x.jpg,
              ../img/reviews0-1200+/chocolate-is-loved/olenaKampusch-x.jpg
            "
            class="reviews-image"
            src="../img/reviews0-1200+/chocolate-is-loved/olenaKampusch-1x.jpg"
            alt="Olena Kampusch"
          />

          <h3 class="reviews-author">Olena Kampusch</h3>
        </div>
        <p class="reviews-benefits">
          Chocolate is a family favourite treat. Love the delicious smooth
          chocolate and the creaminess inside. The wafer is soft but crunchy.
        </p>
      </li>
    </ul>
    <button type="button" class="reviews-opn-btn js-open-modal" data-modal="3">
      Leave a review
    </button>
  </div>
</section>
