<section class="subscribe">

    <div class="conteiner sub-conteiner">
        <h2 class="subscribe-title">EXPLORE OUR NEW <br>CHOCOLATE FIRST</h2>
        <p class="subscribe-text">From the velvety texture to the rich and complex flavor, our New Chocolate is a true
            indulgence that will leave you craving more. Made with only the finest ingredients and handcrafted with the
            utmost care, each piece is a work of art that is sure to please.</p>

        <button class="subscribe-button js-open-modal" type="button" data-modal="5">Subscribe</button>
    </div>

    <div class="subscribe-modal is-hidden" data-modal="5">

        <picture>
            <source srcset="../img/desktop+tablet/modal-new-chocolate/newChoco-desk+tab-1x.jpg 1x, 
                    ../img/desktop+tablet/modal-new-chocolate/newChoco-desk+tab-2x.jpg 2x" media="(min-width:768px)">

            <source srcset="../img/mobile/modal-new-chocolate/newChoco-mobile-1x.jpg 1x, 
                    ../img/mobile/modal-new-chocolate/newChoco-mobile-2x.jpg 2x" media="(max-width:768px)">

            <img class="subscribe-pic" src="../img/desktop+tablet/modal-new-chocolate/newChoco-desk+tab-1x.jpg"
                alt="Chocolate" height="196">
        </picture>


        <button class="sub-close-btn js-modal-close" type="button">
            <svg class="sub-close-icon" width="28" height="28">
                <use href="../img/SVG/symbol-defs.svg#icon-x-close"></use>
            </svg>
        </button>
        <div class="explore-form">
            <h1 class="sub-title">EXPLORE OUR<br> <span class="sub-title-part">NEW CHOCOLATE</span> FIRST! </h1>
            <form action="#" class="contact-form">

                <div class="modal-form-field">
                    <label class="input-title" for="email"></label>
                    <span class="modal-input-wrapper">
                        <input type="email" class="modal-input" id="email" name="Email" required
                            placeholder="Enter your email">
                    </span>

                    <button type="submit" class="modal-btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>