<link rel="stylesheet" href="../css/top-sellers.css" />
<section class="container">
  <div class="container">
    <h3 class="hero-text-top-seller">
      <span class="hero-span-top-seller">TOP</span> SELLERS
    </h3>
    <div class="first-div-top-seller">
      <ul class="first-list-top-seller">
        <li class="list-style-none">
          <img
            src="../img/desktop/top-sellers/one-desktop-1x.jpg"
            srcset="../img/desktop/top-sellers/one-desktop-2x.jpg 2x"
            alt=""
          />
        </li>
        <li class="list-style-none">
          <img
            src="../img/desktop/top-sellers/two-desktop-1x.jpg"
            srcset="../img/desktop/top-sellers/two-desktop-2x.jpg 2x"
            alt=""
          />
        </li>
        <li class="list-style-none">
          <img
            src="../img/desktop/top-sellers/three-desktop-1x.jpg"
            srcset="../img/desktop/top-sellers/three-desktop-2x.jpg 2x"
            alt=""
          />
        </li>
      </ul>
    </div>
    <div class="second-div-top-seller">
      <ul class="second-list-top-seller">
        <li class="list-style-none">
          <img
            src="../img/desktop/top-sellers/one-desktop-1x.jpg"
            srcset="../img/desktop/top-sellers/one-desktop-2x.jpg 2x"
            alt=""
          />
        </li>
        <li class="list-style-none text-li-top-seller">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </li>
        <li class="list-style-none">
          <img
            src="../img/desktop/top-sellers/three-desktop-1x.jpg"
            srcset="../img/desktop/top-sellers/three-desktop-2x.jpg 2x"
            alt=""
          />
        </li>
      </ul>
    </div>
    <div class="btt-div-top-seller">
      <p class="p-text-top-seller">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button type="button" class="btt-top-seller">Buy now</button>
    </div>
  </div>
</section>
