<section>
  <div>
    <h3 class="top-sellers"><span class="top">TOP</span> SELLERS</h3>
    <div>
      <div class="top-sellers-div">
        <ul class="top-sellers-list">
          <li class="list-style-none">
            <img
              width="364px"
              height="464px"
              src="./images/one-desktop-1x.jpg"
              srcset="./images/one-desktop-2x.jpg 2x"
              alt="chocolate and nuts"
            />
          </li>
          <li class="list-style-none">
            <img
              width="364px"
              height="464px"
              src="./images/two-desktop-1x.jpg"
              srcset="./images/two-desktop-2x.jpg 2x"
              alt="chocolate and nuts"
            />
          </li>
          <li class="list-style-none">
            <img
              width="364px"
              height="464px"
              src="./images/three-desktop-1x.jpg"
              srcset="./images/three-desktop-2x.jpg 2x"
              alt="chocolate and nuts"
            />
          </li>
        </ul>
        <div class="top-sellers-btt-text">
          <p class="text-top-sellers">
            Crazy enough chocolate originates from a bean just like the coffee
            bean called Cacao. Cacao has been around for thousands of years and
            was first discovered by the Native American tribe called the Mayans.
          </p>
          <button type="button" class="top-sellers-btt">Buy now</button>
        </div>
      </div>
    </div>

    <script src="./js/topsellersmodal.js"></script>
  </div>
</section>
