<section class="container-top-seller" id="top_sellers">
  <div class="container-top-seller">
    <h3 class="hero-text-top-seller">
      <span class="hero-span-top-seller">TOP</span> SELLERS
    </h3>

    <ul class="list-top-seller">
      <li class="list-style-none">
        <picture class="li-img-top-seller">
          <source srcset="
              ../img/desktop/top-sellers/one-desktop-1x.jpg 1x,
              ../img/desktop/top-sellers/one-desktop-2x.jpg 2x
            " media="(min-width: 1200px)" />
          <source srcset="
              ../img/tablet/top-sellers/one-tablet-1x.jpg 1x,
              ../img/tablet/top-sellers/one-tablet-2x.jpg 2x
            " media="(min-width: 768px)" />
          <source srcset="
              ../img/mobile/top-sellers/one-mobile-1x.jpg 1x,
              ../img/mobile/top-sellers/one-mobile-2x.jpg 2x
            " media="(max-width: 767px)" />
          <img src="../img/desktop/top-sellers/one-desktop-1x.jpg" alt="chocolate" />
        </picture>
        <p class="text-li-top-seller">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="list-style-none">
        <picture class="li-img-top-seller">
          <source srcset="
              ../img/desktop/top-sellers/two-desktop-1x.jpg 1x,
              ../img/desktop/top-sellers/two-desktop-2x.jpg 2x
            " media="(min-width: 1200px)" />
          <source srcset="
              ../img/tablet/top-sellers/two-tablet-1x.jpg 1x,
              ../img/tablet/top-sellers/two-tablet-2x.jpg 2x
            " media="(min-width: 768px)" />
          <source srcset="
              ../img/mobile/top-sellers/two-mobile-1x.jpg 1x,
              ../img/mobile/top-sellers/two-mobile-2x.jpg 2x
            " media="(max-width: 767px)" />
          <img src="../img/desktop/top-sellers/two-desktop-1x.jpg" alt="chocolate" />
        </picture>
      </li>
      <li class="list-style-none three-li-img-top-seller">
        <picture class="li-img-top-seller">
          <source srcset="
              ../img/desktop/top-sellers/three-desktop-1x.jpg 1x,
              ../img/desktop/top-sellers/three-desktop-2x.jpg 2x
            " media="(min-width: 1200px)" />

          <img src="../img/desktop/top-sellers/three-desktop-1x.jpg" alt="chocolate" />
        </picture>
      </li>
    </ul>

    <div class="btt-div-top-seller">
      <p class="p-text-top-seller">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button type="button" class="btt-top-seller">Buy now</button>
    </div>
  </div>
</section>