
.header-container{

  width: 100%;
  padding: 20px 20px 14px 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

.header-logo {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  display: flex;
  gap: 6px;
  color:#111111;
  
}
.title {
  font-style: italic;
}


.header-navigation {
  display:flex;
}


.title {
  text-transform: uppercase;
  font-style: italic;
}
.header-list {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  gap: 24px;
  padding:  0;
  display: flex;
  letter-spacing: -0.02em;
  color: #111111;
}
.header-soc-list {
  display: flex;
  padding: 0;
  gap: 21px;
  margin: 0;

}
.header-soc-icon {
  stroke: #111111;
  fill: none;
}
.header-item:is(:hover, :focus){
color: #FD9222;
}

.header-soc-icon:is(:hover, :focus):is(:hover, :focus) {
stroke: #FD9222;
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  padding-bottom: 40px;
  background-color: var(--dark-purple-color);
  transform: translateX(100%);
  transition: transform 250ms ease-in-out
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.menu-open-icon {
  stroke: black;
}

.menu-open {
  display: block;
  height: 100%;
  z-index: 1000;
  background-color: transparent
}


.mobile-menu-close-btn {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  padding: none;
  position: absolute;
  top: 24px;
  right: 32px;
  padding: 0;
  margin-right: 20px;
}

.mobile-menu-close-icon:is(:hover, :focus) {
  color: #FD9222;
}

.mobile-menu-container {
  position: relative;
  padding-top: 96px;
  padding-left: 50px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  height: 100%;
  
}


.mob-menu-list {
  margin-bottom: auto;
  

}

.mob-menu-link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  padding: 24px;
  line-height: 1.4;
  align-items: center;
  letter-spacing: -0.02em;
  color: #fff;
}
.mob-menu-item {
margin-bottom: 24px;
}
.mob-menu-item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-menu-link:is(:hover, :focus) {
  color: #FD9222;
}


.mob-menu-soc-icon {
  stroke: #fff;
  fill: none;
}

.mob-menu-soc-list {
  display: flex;
  gap: 21px;
  margin-right: auto;
  
}

.mob-menu-soc-icon:is(:hover, :focus) {
  stroke: #FD9222;
}

@media screen and (min-width:375px){
  .header-container {
    max-width: 375px;
    width: 100%;
    }
}

@media screen and (min-width:768px) {
  .header-container {
    max-width: 768px;
    width: 100%;
    padding: 24px 32px;
  }
  .menu-open-icon {
    width:32px; 
    height: 32px;
  }

}

@media  screen and (max-width:1199px){
.header-list, .header-soc-list {
  display: none;
}


}

@media screen and (min-width:1200px){
  .menu-open {
    display: none;
  }
  .mobile-menu {
   display: none;
    }
  .header-container {
    width: 100%;
    max-width: 1200px;
    padding: 24px 32px 32px 32px;
    margin: 0 auto;
}
  .header-logo {
   font-size: 18px;
   line-height: 1.11;
   letter-spacing: -0.03em;
   gap: 6px;
  }
  .header-icon {
    width: 24px;
    height: 24px;
    }
  
}
