.our-products-container {
  max-width: 365px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.our-products {
  padding-bottom: 72px;
}
.our-products-title {
  font-style: normal;
}
.title {
  font-weight: 600;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.span {
  color: var(--orange-color);
}
.content {
  background-color: white;
  display: block;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  border-top: none;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  max-width: 335px;
}
.foto {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.foto-li {
  margin-bottom: 8px;
}
.taste {
  font-weight: 600;
  font-size: 18px;
  line-height: calc(24 / 18);
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
}
.kind {
  font-size: 12px;
  line-height: calc(14 / 12);
  color: var(--dark-purple-color);
  margin-left: auto;
  margin-right: auto;
}
.btn {
  padding: 8px 20px;
  background: #fafafa;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: var(--dark-color);
  font-weight: 600;
  margin-top: 18px;
}
.swiper.our {
  padding-bottom: 45px;
}
.swiper.our .swiper-pagination.our {
  bottom: 0;
}

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  color: rgba(17, 17, 17, 0.1);
}

.swiper-pagination.our .swiper-pagination-bullet-active {
  background-color: var(--orange-color);
  width: 28px;
  height: 13px;
  border-radius: 13px;
}

@media screen and (min-width: 375px) {
  /* .content {
    max-width: 335px;
  } */
}
@media screen and (min-width: 768px) {
  .our-products-container {
    max-width: 734px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .our-products {
    padding-bottom: 100px;
  }
  .title {
    font-size: 24px;
    line-height: calc(28 / 24);
    margin-bottom: 50px;
  }
  .content {
    max-width: 704px;
    padding-top: 32px;
  }
}
@media screen and (min-width: 1200px) {
    .our-products-container {
    max-width: 1166px;
  }

  .our-products {
    padding-bottom: 128px;
  }
  .title {
    font-size: 24px;
    line-height: calc(28 / 24);
    margin-bottom: 50px;
  }
  .content {
    max-width: 1136px;
    padding-top: 33px;
  }
}
