.subscribe {
  background-color: var(--dark-purple-color);
}

/*_________________________________________MOBILE___________________________________________*/

@media screen and (max-width: 767px) {
  .conteiner {
    max-width: 356px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .sub-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .subscribe {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    height: auto;
    background-image: url(/img/mobile/subscribe/subscribe-mobile-1x.jpg);
    border-color: var(--orange-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .subscribe-img {
      background-image: url(/img/mobile/subscribe/subscribe-mobile-2x.jpg);
    }
  }

  .subscribe-title {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.03em;

    color: #ffffff;
    margin-bottom: 24px;
  }

  .subscribe-text {
    letter-spacing: -0.02em;
    color: #ffffff;

    margin-bottom: 24px;
    max-width: 326px;
  }

  .subscribe-button {
    background-color: var(--orange-color);
    border-radius: 100px;
    width: 128px;
    height: 41px;
    font-weight: 600;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .subscribe-button:hover,
  .subscribe-button:focus {
    background-color: #fcf1e0;
    color: var(--orange-color);
  }
}

/*_____________________________________TABLET__________________________________*/

@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 464px;
    margin-left: auto;
    margin-right: auto;
  }
  .sub-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .subscribe {
    padding-top: 72px;
    padding-bottom: 72px;
    width: 100%;
    height: auto;
    background-image: url(/img/tablet/subscribe/subscribe-tablet-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .subscribe {
      background-image: url(/img/tablet/subscribe/subscribe-tablet-2x.jpg);
    }
  }
  .subscribe-title {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: -0.03em;
    color: #ffffff;
    margin-bottom: 24px;
  }
  .subscribe-text {
    letter-spacing: -0.02em;
    color: #ffffff;
    margin-bottom: 24px;
    width: 467px;
  }

  .subscribe-button {
    background-color: var(--orange-color);
    border-radius: 100px;

    width: 172px;
    height: 50px;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .subscribe-button:hover,
  .subscribe-button:focus {
    background-color: #fcf1e0;
    color: var(--orange-color);
  }
}

/*_____________________________________DESKTOP__________________________________*/

@media screen and (min-width: 1200px) {
  .subscribe {
    background-image: url(../img/desktop/subscribe/subscribe-desktop-1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .subscribe {
      background-image: url(/img/desktop/subscribe/subscribe-desktop-2x.jpg);
    }
  }
}
