.container-top-seller {
  width: 100%;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.p-text-top-seller {
  display: none;
}
.text-li-top-seller {
  max-width: 306px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.list-top-seller {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.list-top-seller {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.list-style-none {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.li-img-top-seller {
  border-radius: 15px;
  overflow: hidden;
}
.hero-text-top-seller {
  font-weight: 600;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  letter-spacing: -0.03em;

  margin-bottom: 32px;
}
.btt-top-seller {
  width: 162px;
  height: 50px;
  background: #fd9222;
  border-radius: 100px;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  border: #fd9222;
}

@media screen and (min-width: 375px) {
  .p-text-top-seller {
    display: none;
  }
  .three-li-img-top-seller {
    display: none;
  }
  .list-top-seller {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .hero-text-top-seller {
    font-weight: 600;
    font-size: 20px;
    line-height: calc(24 / 20);
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }
  .hero-span-top-seller {
    color: #fd9222;
  }
  .btt-div-top-seller {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container-top-seller {
    max-width: 768px;
    padding: 0 32px;
    margin: 0 auto;
  }

  .list-top-seller {
    flex-direction: row;
    gap: 16px;
  }

  .text-li-top-seller {
    display: none;
  }

  .hero-text-top-seller {
    font-size: 24px;
    line-height: calc(28 / 24);
    margin-bottom: 50px;
  }
  .hero-span-top-seller {
    color: #fd9222;
  }
  .btt-div-top-seller {
    justify-content: space-between;
    margin-top: 32px;
  }
  .p-text-top-seller {
    max-width: 306px;
    display: block;
    line-height: 1.29;
    letter-spacing: -0.02em;
  }
  .p-text-top-seller {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .container-top-seller {
    max-width: 1158px;
  }

  .three-li-img-top-seller {
    display: block;
  }

  .hero-span-top-seller {
    color: #fd9222;
  }
}
@media screen and (max-width: 1199px) {
  .three-li-img-top-seller {
    display: none;
  }
}
