ul {
  margin: 0;
  padding: 0;
}
.list-style-none {
  list-style: none;
}
@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
  .first-div-top-seller {
    display: none;
  }
  .second-div-top-seller {
    display: flex;
  }
  .text-li-top-seller {
    max-width: 306px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #111111;
  }
  .hero-text-top-seller {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: calc(24 / 20);
    text-align: center;
    letter-spacing: -0.03em;
  }
  .btt-top-seller {
  }
  .btt-div-top-seller {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hero-span-top-seller {
    color: #fd9222;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 766px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .first-div-top-seller {
    display: flex;
  }
  .second-div-top-seller {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .first-div-top-seller {
    display: flex;

    flex-direction: row;
  }

  .first-list-top-seller {
    display: flex;

    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }
  .second-div-top-seller {
    display: none;
  }
  .p-text-top-seller {
    max-width: 407px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.02em;
    color: #111111;
  }
  .hero-text-top-seller {
    text-align: center;
    color: #111111;
  }
  .btt-top-seller {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 14px 40px;
    gap: 14px;
    color: #ffffff;
    background: #fd9222;
    border-radius: 100px;
    border: #fd9222;
  }
  .btt-div-top-seller {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hero-span-top-seller {
    color: #fd9222;
  }
}
